*{
    margin: 0;
}

html{
    scroll-behavior:smooth;
}

body{
    color: white;
}

nav{
    background-color: rgba(228, 239, 239, 0);
    width: full;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    transition: 0.5s;
}

.sticky{
    background-color: #000000;
    height: 60px;
    transition: 0.5s;
}

.listContainer{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.hamburger{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger i{
    font-size: x-large;
}

@media only screen and (min-width: 950px) {
    .listContainer ul{
        width: 500px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 20px;
    }

    .hamburger{
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .listContainer ul{
        display: none;
    }

    .listContainer{
        width: 40%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    
    }
}

@media only screen and (max-width:380px){
    .listContainer{
        display: none;
    }

    .sticky{
        background-color: #000000;
        height: 100px;
        transition: 0.5s;
    }
}

li{
    position: relative;
    text-decoration: none;
    font-family:Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.icons a:hover{
    color: #e0004d;
}

.icons a i{
    transition: .50s;
}

.icons a i:hover{
    transform: translate(0, -5px);
}

.listContainer ul li.active:after{
    width: 100%;
}

.active a{
    color: #e0004d;
}

ul li a{
    position: relative;
    text-decoration: none;
    color: #fffff5;
    background-color: transparent;
    padding-bottom: 14px;
}


ul li a:hover{
    color: #e0004d;
}

.listContainer ul li:after{
    content: "";
    position: absolute;
    background-color: #e0004d;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -15px;
    transition: 0.5s ease;

}

.listContainer ul li:hover:after{
    width: 100%;
}


.icons{
    height: 35px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    list-style-type: none;
}

.cart{
    list-style-type:none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbutton{
    padding: 10px 20px;
    border:2px solid #3a3a3a;
    background-color: transparent;
    color: #fffff5;
    border-radius: 5px;
    transition: .40s;
}

.nbutton:hover{
    background-color: #e0004d;
    border: 2px solid #e0004d;
    transform: translate(0, -5px);
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.home{
    background:rgb(0,0,0,0.7)url(images/pic.jpeg);
    background-blend-mode: darken;
    height: 450px;
    padding-top: 250px;
    padding-left: 20px;
}

.para{
    color: rgba(240, 248, 255, 0.379);
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
}

.span{
    color: #e0004d;
}


.hhome{
    margin-top: 15px;
    font-weight:900;
    font-family: Poppins Arial, Helvetica, sans-serif;
    font-size:70px;
    width:615px;
}

.herohead{
    margin-top: 15px;
    font-weight:900;
    font-family: Poppins Arial, Helvetica, sans-serif;
    font-size:80px;
    width: 100%px;
}

@media only screen and (max-width:650px){
    .hhome{
        margin-top: 15px;
        font-weight:700;
        font-family: Poppins Arial, Helvetica, sans-serif;
        font-size:60px;
        width: auto;
    }

    .herohead{
        margin-top: 15px;
        font-weight:700;
        font-family: Poppins Arial, Helvetica, sans-serif;
        font-size:60px;
        width: auto;
    }
}

.about{
    background-color:#191919;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 100px 0;

}

.hero {
    background-color: #e0004d;
    height: 500px;
    width: 40%;
    border-radius: 10px;
    background-blend-mode: darken;
}

.heropara{
    width: 50%;
    height: 500px;
    padding-left: 10px;

}


@media only screen and (max-width:955px){
    .hero {
        background-color: #e0004d;
        height: 600px;
        width: 80%;
        border-radius: 10px;
        background-blend-mode: darken;
    }

    .heropara{
        width: 750px;
        height: 500px;
        padding-left: 10px;
    }
}



.wraper{
    padding-top: 20px;
    background-color: transparent;
    height: 280px;
    width: 100%;
    
}

.listwraper{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    margin-left: -40px;
    cursor: pointer;
}

.nlists{
    background-color:transparent;
    padding-bottom: 14px;
}

.nlists:after{
    content: "";
    position: absolute;
    background-color: #fffff586;
    height: 3px;
    width: 30px;
    left: 0;
    bottom: -1px;
    transition: 0.3s ease;

}

.nlists:hover:after{
    width: 30px;
}

.now:hover:after{
    width: 100%;
}

.now{
    color: #e0004d;
}

.now:after{
    width: 100%;
    background-color: #e0004d;
}

.desc{
    background-color:transparent;
    width: 100%;
    height: 237px;
    margin-top: 20px;
}

.services{
    background-color:#101010;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
}

.header{
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nservices{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight:900;
    font-family: Poppins Arial, Helvetica, sans-serif;
    font-size:60px;
    color: #ffffff;
}

.pservices{
    width: 60%;
    display: flex;
    text-align: center;
    color: rgba(240, 248, 255, 0.379);
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    font-size: 21px;
}

.servicesbody{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.smallbody{
    width: 400px;
    height: 320px;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.40s;
}

.smallbody:hover{
    background: linear-gradient(to right, red, #f8108f);
    transform: translate(0, -10px);
}

.smallbody:hover .scontainer i{
    color: #ffffff;
}

.scontainer{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2px;
}

.scontainer .fa-solid{
    margin-top: 40px;
    font-size: xx-large;
    color: #f9004d;
}

.sbody{
    font-style: normal;
    font-family:Poppins, sans-serif;
    font-weight: 600;
    line-height: 34px;
    font-size: 26px;
    color: #ffffff;
}

.smbody{
    width: 90%;
    font-style: normal;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff74;
}

.portfolio{
    background-color:#191919;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}

.portfoliobody{
    width: 99%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.nportfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight:900;
    font-family: Poppins Arial, Helvetica, sans-serif;
    font-size:60px;
    color: #ffffff;
}

.pportfolio{
    width: 60%;
    height: auto;
    display: flex;
    text-align: center;
    color: rgba(240, 248, 255, 0.379);
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    font-size: 21px;
}


.smallportfolio{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.smallportfolio img{
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1.2);
    transition: 0.3s;
}

.smallportfolio:hover{
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

.smallportfolio:hover img{
    transform: scale(1.10);
    transition: 0.3s;
}


.collector{
    background:linear-gradient(to top,#000000,rgba(0, 0, 0, 0.467));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 00.3s;
}

.smallportfolio:hover .collector{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.866),#e0004d);
    transition: 00.3s;
}

.pr{
    font-size: medium;
    font-weight: 400;
    font-style: normal;
    font-family: Poppins,sans-serif;
    line-height: 12px;
    color: #ffffffc5;
    margin-top: 300px;
}

.prad{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-family: Poppins,sans-serif;
    line-height: 3p6x;
    color: #ffffff;
    display: flex;
    text-align: center;
}

.prbutton{
    padding: 10px 20px;
    background-color:transparent ;
    border:2px solid #fffff53a;
    border-radius: 5px;
    color: #ffffff;
    transition: .40s;
}

.prbutton:hover{
    background-color: #e0004d;
    border: 2px solid #e0004d;
    transform: translate(0, -5px);
}

.blog{
    background-color:#101010;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
}

.nblog{
    font-weight:900;
    font-size: 60px;
    font-family: Poppins Arial, Helvetica, sans-serif;
}

.pblog{
    width: 60%;
    color: rgba(240, 248, 255, 0.379);
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.blogbody{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.smallblog1{
    background: linear-gradient(#111 50%, #000 100%);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

.smallblog1 img{
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.smallblog1:hover img{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.description{
    background: linear-gradient(to top, #000000,#ffffff1a);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transform: translateY(90px);
    transition: all 0.3s ease-out;
    overflow: none;
    
}

.description:hover{
    transform: translateY(0px);
    background: linear-gradient(to bottom, #f9004d,#ffffff20);
    transition: 0.3s;
}

.description p{
    margin-top: 100%;
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
}

.description h1{
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}

.description button{
    padding: 10px 20px;
    border: 2px solid #f9004d;
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.40s;
}

.description button:hover{
    background-color: #f9004d;
    transform: translate(0, -5px);
}

.contact{
    background-color:#191919;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 100px 0;
}

.commandcontact{
    width: 99%;
    height: auto;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactbody{
    width: 700px;
    height: auto;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.40s;

}

.avatarcommand{
    width: 500px;
    height: 600px;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.40s;
}


.contactavatar{
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contactwraper{
    width: 99%;
    height: auto;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.ncontact{
    color: #ffffff;
    font-weight:800;
    font-size: 60px;
    font-family: Poppins, sans-serif;
    width: 70%;
    line-height: 84px;
    font-style: normal;

}

.pcontact{
    width: 99%;
    color: rgba(198, 201, 216, 0.75);
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;

}

.pspan{
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.formwraper{
    width: 99%;
    height: 73%;
    padding: 0.5%;
    border-radius: 2px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs{
    width: 100%;
    padding-left: 12px;
    border: 2px solid rgba(198, 201, 216, 0.232);
    border-radius: 5px;
    background-color: transparent;
    color:rgba(198, 201, 216, 0.75);
    font-size: 15px;
    font-weight: 400;
    line-height: 46px;
    font-style: normal;
    font-family: Poppins, sans-serif;
    outline: none;
}


.valid{
    border-color: #09c372;
}

.invalid{
    border-color: #ff3860;
}

.inputcontroller{
display: flex;
flex-direction: column;
gap: 2px;
}

.inputcontroller h6{
    color: #ff3860;
    font-size: x-small;
}

.formbutton{
    background-color: #f9004d;
    padding: 18px;
    width: 37%;
    border: 2px solid #f9004d;
    border-radius: 7px;
    color: #fffff5;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .40s;
}

.formbutton:hover{
    background-color: transparent;
    color: #f9004d;
    transform: translate(0, -7px);
}


.footer{
    height: auto;
    background-color: #101010;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}

.footer1{

    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.footeravatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.hfooter{
    font-weight: 500;
    font-size: 45px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: Poppin,sans-serif;

}

.footer2{

    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cilcle{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(198, 201, 216, 0.232);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .50s;
    cursor: pointer;
    
}

.cilcle:hover{
    background-color: #f9004d;
    transform: translate(0, -5px);
}

.footer3{
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outside{
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    font-style: normal;
    font-family: Poppins,sans-serif;
    color: #c6c9d8;
}

.outside a{
    cursor: pointer;
}

.outside a:hover{
    color: #f9004d;
    transition: 0.9s;
    cursor: pointer;
}

